.gallery{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 25px;
padding: 20px 0;
}
.gallery__header{
    padding: 20px 0;
}
.gallery__header h3{
    font-family: "Poppins" sans-serif;
    color: #000;
    font-weight: var(--fonts-medium--);
    font-size: 20px;
}
.gallery__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px; 
}