.gallery__item{
    width: 500px;
    border: 2px solid rgb(245, 243, 243);
}
.gallery__item-imageContainer{
width: 100%;
}
.gallery__item-imageContainer img{
width: 100%;
height: 100%;
object-fit: contain;
}
.gallery__item-info{
    padding: 10px 5px;

}
.gallery__item-link{
    font-family: "Poppins" sans-serif;
    color: #000;
    font-weight: var(--fonts-medium--);
    font-size: 13px;
    padding: 5px 7px;
    text-decoration: none;
    border: none;
}
.gallery__item-actions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;

}
.gallery__item-timestamp{
    font-family: "Poppins" sans-serif;
    color: #000;
    font-weight: var(--fonts-semi-bold--);
    font-size: 13px; 
    padding: 10px 5px;  
}