
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



:root{
--fonts-thin--:300;
--fonts-normal--:400;
--fonts-medium--:500;
--fonts-bold--:700;
--fonts-semi-bold--:600;
--open-sans-:"Open Sans" sans-serif;

}
html{
  scroll-behavior: smooth;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #3b0d11;
  transition: background-color 5000s ease-in-out 0s;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  color: #000000;
  border-bottom: 1px solid #000000;
}
::-webkit-scrollbar{
  display: none;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 30px 0;
  }
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main__header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px 0;
  width: 100%;
  }
  
  .main__header h3{
      font-family: "Open Sans" sans-serif;
      color: #000;
      font-weight: var(--fonts-medium--);
      font-size: 20px;
      text-align: center;
      width: 100%;
  }
  .main__header button{
      font-family: "Open sans" sans-serif;
      color: #FFFFFF;
      font-weight: var(--fonts-medium--);
      font-size: 15px;
      padding: 5px 7px;
      border: none;
      border-radius: 5px;
      background-color: #f33a3a;
  }
  
  .main__form{
    width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 15px;
      padding: 25px 20px;
      border: 1px solid #7a7a7a;
      border-radius: 5px;
      }
  .main__input{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 5px; 
      width: 100%;
  }
  .main__input input{
    width: 100%;
      padding: 6px 0;
      outline: none;
      font-family: "Open sans" sans-serif;
      color: #000;
      font-weight: var(--fonts-medium--);
      font-size: 15px;
      border: 1px solid #7a7a7a;
      border-radius: 5px;
  }
 
  .main__input select{
      outline: none;
      font-family: "Open sans" sans-serif;
      color: #000;
      font-weight: var(--fonts-medium--);
      font-size: 15px;
  }
  .main__input label, option{
      outline: none;
      font-family: "Open sans" sans-serif;
      color: #000;
      font-weight: var(--fonts-semi-bold--);
      font-size: 13px;

  }
  .main__input textarea{
      padding: 6px 0;
      outline: none;
      font-family: "Open sans" sans-serif;
      color: #000;
      font-weight: var(--fonts-medium--);
      font-size: 15px;
      border: 1px solid #7a7a7a;
      border-radius: 5px;
  }
  
  .preview__container{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
  }
  .preview__imageContainer{
      height: 65px;
      width: 65px;
      
  }
  .previewImage{
      cursor: pointer;
      height: 60px;
      width:60px;
      object-fit: cover;
  }
  .close__prevIcon{
  position: relative;
  margin-top: -130px;
  margin-right: -45px;
  cursor: pointer;
  }
.submit__error{
  font-family: "Open sans" sans-serif;
  color: #cc1111;
  font-weight: var(--fonts-medium--);
  font-size: 12px;
}

/* =============================GALLERY AND EVENTS STYLES===================================== */
.main__image-container{
  width: 100%;
  height: auto;
}
.main__image-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main__welcome{
  width: 100%;
  height: auto;
background-color: #3b0d11;
padding: 40px 20px;
display: flex;
justify-content: center;
align-items: flex-start;
flex-wrap: wrap;
gap: 20px;
}
.main__welcome-container{
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 30px;
  gap: 15px;
  flex: 0.5;

  
}
.main__welcome-container-header{
  padding: 10px 0;
  width: 100%;
}
.main__welcome-container-header h3{
  color: #FB8B23;
  font-family: "Open sans" sans-serif;
  font-weight: var(--fonts-medium--);
  font-size: 17px;
}
.main__welcome-container-text{
  width: 100%;
;
}
.main__welcome-container-text p{
  width: 100%;
  color: #FFFFFF;
  font-family: "Open sans" sans-serif;
  font-weight: var(--fonts-medium--);
  font-size: 20px;
}
.main__welcome-container-link{
  background-color: #21070A;
   padding: 15px 0px;
   width: 100%;
   text-align: center;
}
.main__welcome-container-link:hover{
  background-color: #000000;
   padding: 15px 20px;
}
.main__welcome-container-link > .welcome-link{
  color: #FFFFFF;
  font-family: "Open sans" sans-serif;
  font-weight: var(--fonts-medium--);
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
 
}
.main__welcome-programs{
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 10px;
padding: 10px 20px;
flex: 0.5;
}
.main__welcome-program{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px; 
  border-top: 1px solid rgba(194, 194, 214,0.6);
  /* border-bottom: 1px solid rgba(194, 194, 214,0.6); */
  padding: 10px 0;
}
.main__welcome-program span{
  font-family: "Open sans" sans-serif;
  color: #FFFFFF80;
  font-weight: var(--fonts-medium--);
  font-size: 20px;
}
.main__welcome-program-header h4{
  font-family: "Open sans" sans-serif;
  color: #FFFFFF;
  font-weight: var(--fonts-medium--);
  font-size: 16px;
  text-transform: uppercase;
}
.main__events{
  width: 100%;
  background-color: #FFFFFF;
}
.main__events-header{
width: 100%;
text-align: center;
padding: 10px 5px;
}
.main__events-header h3{
  font-family: "Open sans" sans-serif;
  color: #000;
  font-weight: var(--fonts-medium--);
  font-size: 19px;
  text-transform: uppercase;
}
.main__events-container{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 15px;
}
.gallery__item{
  width: 380px;
  border: 2px solid rgb(245, 243, 243);
  margin: 10px 0;
}

.gallery__item-imageContainer{
width: 100%;
}
.gallery__item-imageContainer img{
width: 100%;
height: 100%;
object-fit: contain;
}
.gallery__items-info{
  width: auto;
  padding: 0px 10px;

}

.gallery__item-info-title{
  padding: 10px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  

}
.gallery__item-info-title h5{
  font-family: "Open sans" sans-serif;
  color: #000;
  font-weight: var(--fonts-medium--);
  font-size: 19px;
  text-align: center;
  width: 100%;

}
.gallery__item-info{
  padding: 8px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(122, 122, 122,0.4);
  

}
.gallery__item-info h5{
  font-family: "Open sans" sans-serif;
  color: #000;
  font-weight: var(--fonts-medium--);
  font-size: 15px;

}
.gallery__item-link{
  font-family: "Open sans" sans-serif;
  color: #2196f3;
  font-weight: var(--fonts-medium--);
  font-size: 15px;
  padding: 5px 7px;
  text-decoration: none;
  border: none;
  width: 100%;
  text-align: center;
}
.gallery__item-edit-link{
  font-family: "Open sans" sans-serif;
  color: #000;
  font-weight: var(--fonts-medium--);
  font-size: 15px;
  padding: 5px 7px;
  text-decoration: none;
  border: none;
  text-align: center;
}
.gallery__message h3{
  width: 100%;
    padding: 6px 0;
    outline: none;
    font-family: "Open sans" sans-serif;
    color: #000;
    font-weight: var(--fonts-medium--);
    font-size: 25px;
}
::placeholder{
  padding: 0px 20px;
}
.footer__link{
  font-family: "Open sans" sans-serif;
  color: #FFFFFF;
  font-weight: var(--fonts-medium--);
  font-size: 15px;
  padding: 5px 7px;
  text-decoration: none;
  border: none;
  text-align: center;
}
.gallery__item-actions{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;

}
.gallery__item-info-description{
  width: auto;
  padding: 13px 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.gallery__item-info-description p{
  font-family: "Open sans" sans-serif;
  color: #000;
  font-weight: var(--fonts-semi-bold--);
  font-size: 15px;
}
.gallery__item-timestamp{
  font-family: "Open sans" sans-serif;
  color: #000;
  font-weight: var(--fonts-semi-bold--);
  font-size: 15px; 
  padding: 10px 5px;  
}
.imageSlider-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.imageSlider{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.imageSlider__images{
  width: auto;
  padding: 0;
  margin: 0;
}
.imageSlider__images img{
  width: 100%;
  height: 450px;
  object-fit: cover;
  padding: 0;
  margin: 0;
}
.imageSlider__icon{
  cursor: pointer;
}

.app__topIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 58px;
  height: 60px;
  bottom: 55px;
  right: 20px;
  position: fixed;
  color: #c2c2d6;
  font-size: 50px;
  background-color: #000000;
  cursor: pointer;
}

.app__topIcon:hover{
  color: #0044FF;
  animation: top-icon-spin 0.15s infinite;
  /* transform: rotate(0deg); */

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer__message{
  width: 100%;
  height: 660px;
  /* border: 2px solid yellowgreen; */
  display: flex;
  justify-content: center;
 
}
.footer__message-left{
  width: 100%;
  height:auto;
  /* background-color: rgba(00, 00, 00,00.3); */
  background-image: url("./assets/images/pattern.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.footer__message-right{
  width: 100%;
  height: auto;
  background-image: url("./assets/images/series.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__series{
margin-top: -660px;
position: absolute;
z-index: 1;
  padding: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(00, 00, 00,00.8); 
  /* border: 1px solid rgba(255, 255, 255, 0.1);   */
}
.footer__current-series{
 width: 90%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 10px;
border: 1px solid rgba(255, 255, 255, 0.8)
/* border: 1px solid rgba(255, 255, 255, 0.1) */
}
.footer__current-series-left{
  width: 100%;
  flex: 0.5;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 15px;
}
.footer__current-series-right{
  width: 100%;
  flex: 0.5;
  display: flex;
  flex-direction: column;
justify-content: flex-end;
align-items: center;
gap: 15px;
height: 500px;
}
.footer__current-seriesLink{
  font-family: "Open Sans" sans-serif;
  color: #FFFFFF;
  font-weight: var(--fonts-semi-bold--);
  font-size: 13px; 
 
  text-decoration: none;
}
.footer__current-series-links{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px;
width: 100%;

}
.footer__current-series-link{
padding: 20px 15px; 
background-color: #000000;
width: 70%;
text-align: center;
}
.footer__current-series-link:hover{
  width: 70%;
  padding: 20px 15px; 
  background-color: #FFFFFF;
  text-decoration: none;
}
.footer__current-series-link:hover >.footer__current-seriesLink{
color: #000000;

}
.footer__current-series-right-line{
border: 1px solid rgba(255, 255, 255, 0.3);
  height: 1px;
  width: 80%;
  margin: 20px 0;
}
.footer__current-seriesHeader{
  width: 100%;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 15px;
}
.footer__current-seriesHeader h3{
  font-family: "Open Sans" sans-serif;
color: #fb8b23;
font-weight: var(--fonts-semi-bold--);
font-size: 16px; 
padding: 10px 5px; 
}
.footer__current-seriesHeader h2{
  width: 100%;
  font-family: "Open Sans" sans-serif;
color: #FFFFFF;
font-weight: var(--fonts-semi-bold--);
font-size: 52px; 
padding: 10px 5px; 
}
.footer__current-series-body p{
color: #FFFFFF;
font-weight: var(--fonts-semi-bold--);
font-size: 20px; 
padding: 10px 5px; 
font-family: "Open Sans", sans-serif;

}
.footer__current-series-right-text {
  width: 300px;
padding: 10px 5px; 
}
.footer__current-series-right-text p{
font-family: "Open Sans" sans-serif;
color: #FFFFFF80;
font-weight: var(--fonts-semi-bold--);
font-size: 15px; 
padding: 10px 5px; 
}


@media screen and (max-width:600px) {
  /* .footer{
 height: 100vh;
  } */
  .footer__message{
    /* height: 800px; */
    border: 2px solid yellowgreen;
   }
  .footer__series{
   height: 800px;
   padding: 10px 15px;

  }
  
  .footer__current-series{
    width: 100%;
    height: auto;
    padding: 10px 5px;
  }
  .footer__current-series-right,.footer__current-series-left{
    flex: 1;
    
  }


  .main__welcome-container,.main__welcome-programs{
    flex: 1;
  }
   
}